@model Potager.Models.Zone_Modification

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Zone_Modification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.zone_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zone_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zone.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zone.nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.zone_modification_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
