@model Potager.Models.Sujet

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sujet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.plante_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plante_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zone_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zone_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_semis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_semis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_plantation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_plantation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_debut_floraison)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_debut_floraison)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_mort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_mort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.poids_recolte_total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.poids_recolte_total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maladie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maladie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observations)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Graine.graine_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graine.graine_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plante.nom_commun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plante.nom_commun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recolte.recolte_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recolte.recolte_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sujet_Entretien.action)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sujet_Entretien.action)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zone.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zone.nom)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
