@model Potager.Models.Plante

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Plante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom_commun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_commun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.regne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.regne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sous_regne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sous_regne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.division)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.division)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.classe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.classe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sous_classe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sous_classe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ordre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ordre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.famille)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.famille)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.espece)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.espece)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.variete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.variete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Graine.graine_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graine.graine_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sujet.maladie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sujet.maladie)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
